<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <% include ../../partials/navigation %>

    <div class="wrapper">
        <div class="btn-clean-chat">
            <button type="button" class="btn-clean">CLEAN CHAT</button>
        </div>

    </div>

</body>

</html>