<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <nav class="navigation">
        <a href="/room">BACK TO ROOM</a>
    </nav>

    <div class="chat-wrap">
        <div class="chat-body"></div>

        <div class="chat-footer">
            <input type="text" class="input">
        </div>

    </div>



</body>

</html>