<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <div class="container">

        <button type="button" id="btn">WHO AM I ?</button>

        <div id="result"></div>

        <a href="/chat" id="chat-room">Chat room</a>

    </div>

    <div class="auth">

        <input type="text" class="inpt username-inp" placeholder="username">
        <input type="email" class="inpt useremail-inp" placeholder="email">
        <input type="password" class="inpt userpassword-inp" placeholder="password">

        <button type="button" class="register-btn">Register</button>

    </div>

    <div class="auth">

        <input type="email" class="inpt email-inp" placeholder="email">
        <input type="password" class="inpt pass-inp" placeholder="password">

        <button type="button" class="login-btn">Login</button>

    </div>

    <div class="logout">

        <button type="button" id="logout">logout</button>
    </div>

</body>

</html>