<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <img src="../../img/wave.png" alt="" id="wave">
    <div class="container">
        <div class="img">
            <img src="../../img/phone.svg" alt="">
        </div>
        <div class="login-container">
            <img src="../../img/avatar.svg" alt="">
            <h1>Welcome</h1>
            <div class="input-1">
                <label for="user"></label>
                <input type="text" placeholder="Email" name="user" id="username" class="email-inp">
                <i class="fas fa-user"></i>
            </div>
            <div class="input-2">
                <label for="parol"></label>
                <input type="password" placeholder="Password" name="parol" id="password" class="pass-inp">
                <i class="fas fa-lock"></i>
            </div>
            <div class="forgot-pass-login">
                <a href="/register"><small>Register</small></a>
            </div>
            <button type="button" class="login-btn">LOGIN</button>
            <div class="my-5">

            </div>
            <div class="my-1">
                <span>Forgot password ?</span>
            </div>
            <div class="input-2">
                <label for="femail"></label>
                <input type="email" placeholder="Email" name="femail" id="femail" class="femail-inp">
                <i class="fas fa-envelope"></i>
            </div>
        </div>
    </div>



</body>

</html>