<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <img src="../../img/wave.png" alt="" id="wave">
    <div class="container">
        <div class="img">
            <img src="../../img/phone.svg" alt="">
        </div>
        <div class="login-container">
            <img src="../../img/avatar.svg" alt="">
            <h1>Welcome</h1>
            <div class="input-1">
                <label for="user"></label>
                <input type="text" placeholder="Username" name="user" id="username" class="username-inp">
                <i class="fas fa-user"></i>
            </div>
            <div class="input-2">
                <label for="email"></label>
                <input type="email" placeholder="Email" name="email" id="email" class="useremail-inp">
                <i class="fas fa-lock"></i>
            </div>
            <div class="input-3">
                <label for="parol"></label>
                <input type="password" placeholder="Password" name="parol" id="password-2" class="userpassword-inp">
                <i class="fas fa-lock"></i>
            </div>
            <div class="forgot-pass">
                <a href="/"><small>Login</small></a>
            </div>
            <button type="button" id="login" class="register-btn">Register</button>
        </div>
    </div>
    <dialog class="dialog">
        <img src="../../img/forgot.svg" alt="">
        <div class="verify">
            <input type="email" placeholder="Verify your E-Mail pleace" id="mail">
            <button type="button" id="send">SEND</button>
        </div>
        <div class="x">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
    </dialog>
</body>

</html>